<h2><%= @user_review.event.name %></h2>

<h3>Edit a Review</h3>

<%= form_for [:admin, @user_review] do |form| %>

  <%= render "user_reviews/user_review_form", form: form, user_review: @user_review %>

  <div>
    <%= form.submit "Update Review" %>
  </div>
<% end %>
