.review {
  $review-gutter: 1.4em;
  $review-image-padding: .7em;
  $review-image-width: 4em;
  $review-color: $base-font-color;
  $review-background: lighten($base-accent-color, 15);
  $review-detail-color: transparentize($review-color, .5);
  $review-image-vert-alignment: top;

  display: table;
  width: 100%;
  margin-bottom: $base-line-height;
  padding-bottom: 1em;
  border-bottom: 1px solid transparentize($review-color, .9);

  .review-image,
  .review-content {
    display: table-cell;
    vertical-align: $review-image-vert-alignment;
  }

  .review-image {
    padding-right: $review-gutter;

    > img {
      width: $review-image-width;
      height: auto;
      border-radius: $base-border-radius;
      padding: $review-image-padding;
      background: $review-background;
      display: block;
      max-width: none;
    }

    .review-reverse-order & {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .review-content {
    width: 100%;

    h1 {
      font-size: 1em;
      margin-bottom: .5em;
    }

    p {
      margin-bottom: .5em;
    }

    p.review-detail {
      font-style: italic;
      font-size: .9em;
      color: $review-detail-color;
    }
  }
}
