<div class="event-statistics">
  <%= captioned_review_score_block(event.average_user_review_score, event.num_user_reviews, "Users") %>

  <%= captioned_review_score_block(event.average_media_review_score, event.num_media_reviews, "Critics") %>
</div>
