<h2><%= @user_review.event.name %></h2>

<h3>Edit a Review</h3>

<%= form_for @user_review do |form| %>
  <%= render "user_review_form", form: form %>

  <div>
    <%= form.submit "Update Review" %>
  </div>
<% end %>
