<h2><%= @event.name %></h2>

<h3>Write a Review</h3>

<%= form_for [@event, @user_review] do |form| %>
  <%= render "user_review_form", form: form, user_review: @user_review %>

  <div>
    <%= form.submit "Add your Review" %>
  </div>
<% end %>
