@import "bourbon";
@import "base/base";
@import "neat";
@import "refills/navigation";
@import "refills/review";

.container {
  @include outer-container;
}

.grid-items {
  $grid-item-background: $base-background-color;
  $grid-item-color: $base-font-color;

  position: relative;
  padding: 1.3em;

  .grid-item {
    background: $grid-item-background;
    float: left;
    padding: .5em;
    padding-bottom: 1em;
    margin: 0px;

    h2, h3, h3 {
      color: $grid-item-color;
      margin-bottom: .4em;
    }

    h2 {
      font-size: 2em;
    }

    h3 {
      font-size: 1.6em;
    }

    h4 {
      font-size: 1.3em;
    }

    p {
      color: transparentize($grid-item-color, .3);
    }
  }
}

.event-description {
  @include span-columns(8);
}

.event-details {
  @include span-columns(4);
}

.user-reviews {
  @include span-columns(6);
}

.media-reviews {
  @include span-columns(6);
}
