.events {
  @include clearfix;

  .event {
    padding-bottom: 0;

    p {
      margin-left: .8em;
      margin-bottom: .3em;
    }

    p.venue {
      font-weight: bold;
    }
  }
}

.event-statistics {
  @include clearfix;

  .review-score {
    padding-top: 0;
    font-size: 1.2em;

    .review-score-caption {
      font-size: .6em;
      font-weight: normal;
    }
  }
}
