<% if object.errors.any? %>
  <div class="form-errors">
    <p>Please correct the following:</p>

    <ul>
      <% object.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
